#contributions_chart{:style => 'width: 500px; height: 500px;'}

#person

:javascript
  var contributions = #{@people.to_json(:methods => [:full_name, :permalink])};

= javascript_include_tag 'charts/highcharts/highcharts.js', 'charts/charts'
