- title(t '.state_contributions', :state_name => @state.name)

%h1= t '.state_contributions', :state_name => @state.name

#contributions_chart{:style => 'width: 500px; height: 500px;'}

#person

= include_javascripts :charts
